<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Bilingual Pesticide Labels for Reforestation Worker Safety / Etiquetas bilingües de pesticidas para la seguridad de los trabajadores de reforestación</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://deohs.washington.edu/"><span class="username">DEOHS</span></a></li>
          <li><a href="https://deohs.washington.edu/pnash"><span class="username">PNASH</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Primary funding and support for this project was from Oregon OSHA.</p>
      </div>
    </div>

  </div>

</footer>